<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <!-- ============================================================== -->
          <!-- Demands -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Liste des demandes</h5>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Code Demande</th>
                        <th>Utilisateur</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (demands != '') { %>
                        <% for( let i = 0; i < demands.length; i++ ) { %>
                          <tr>
                            <td>
                              <a href="javascript:void(0)" class="link"> #<%-demands[i].id%></a>
                            </td>
                            <td><%-demands[i].User.email%></td>
                            <td>
                              <span class="text-muted"
                                ><i class="fa fa-clock-o"></i> <%-demands[i].createdAt%></span
                              >
                            </td>
                            <td><%-demands[i].amount%> F</td>
                            <td class="text-center">
                              <div class="label label-table <%-demands[i].state ? 'label-success' : 'label-warning'%> ">
                                <%-demands[i].state ? 'En cours' : 'En attente'%>
                              </div>
                            </td>
                            <td class="text-center">
                              <a href="/admin/demands/show/<%-demands[i].id%>"><i class="fa fa-eye"> Ouvrir</i></a>
                            </td>
                          </tr>
                        <% } %>
                        
                        
                        <% } else { %>
                          <tr>
                            <td colspan="6">Aucun investissement enregistré.</td>
                          </tr>
                          
                       <% } %>  
                     
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- ============================================================== -->
          <!-- End Demands -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
