<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>
  <link rel="stylesheet" href="/eliteadmin/assets/node_modules/dropify/dist/css/dropify.min.css">

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <div class="row">
            <% if (errors !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% errors.forEach((item) => { %>
              <div class="alert alert-danger"><%- item%></div>
              <% }); %>
            </div>
            <% } %> <% if (infos !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% infos.forEach((item) => { %>
              <div class="alert alert-success"><%- item%></div>
              <% }); %>
            </div>
            <% } %>
          </div>
          <!-- ============================================================== -->
          <!-- Demands -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-body">
                  <% if (demand.contract != null) { %>
                    <h5 class="card-title  text-success">Détail de la demande | <span class="text-muted"
                      ><i class="fa fa-clock-o"></i> <%-demand.createdAt%></span
                    ></h5>
                    <% } else { %>
                      <h5 class="card-title  text-warning">Détail de la demande | <span class="text-muted"
                        ><i class="fa fa-clock-o"></i> <%-demand.createdAt%></span
                      ></h5>
                    <% } %> 
                  
                  <!-- Row -->
                <div>
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Informations</a> </li>
                                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#files" role="tab">Fichiers attachés</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                
                                <div class="tab-pane active" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <form class="form-horizontal form-material">
                                            <div class="form-group">
                                                <label class="col-md-12">Nom complet</label>
                                                <div class="col-md-12">
                                                    <input type="text" disabled class="form-control form-control-line" value="<%-demand.User.firstName%> <%-demand.User.lastName%>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Email</label>
                                                <div class="col-md-12">
                                                    <input type="email" disabled class="form-control form-control-line" name="example-email" id="example-email" value="<%-demand.User.email%>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Type d'investissement</label>
                                                <div class="col-md-12">
                                                    <input type="text" disabled class="form-control form-control-line" value="<%-demand.InvestmentPlan.title%>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Partenaire</label>
                                                <div class="col-md-12">
                                                    <input type="text" disabled class="form-control form-control-line" value="<%-demand.Partner.name%>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Montant</label>
                                                <div class="col-md-12">
                                                    <input type="text" disabled class="form-control form-control-line" value="<%-demand.amount%>">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="files" role="tabpanel">
                                  <div class="card-body">
                                      <form class="form-horizontal form-material">
                                          <% if (demand.attachments != '' && demand.attachments[0] != '') { %>
                                            <div class="form-group">
                                                <label class="col-md-12">Fichier KYC</label>
                                                <div class="col-md-12">
                                                    <a href="/uploads/<%-demand.attachments[0].url%>" target="blank"> <i class="fa fa-eye"></i> Cliquer pour voir</a>
                                                </div>
                                            </div>
                                          <% } %>
                                          <% if (demand.attachments != '' && demand.attachments[1] != '') { %>
                                          <div class="form-group">
                                              <label for="example-email" class="col-md-12">Autre fichier</label>
                                              <div class="col-md-12">
                                                <a href="/uploads/<%-demand.attachments[1].url%>" target="blank"> <i class="fa fa-eye"></i> Cliquer pour voir</a>
                                              </div>
                                          </div>
                                          <% } %>
                                      </form>
                                  </div>
                              </div>
                            </div>
                            
                            <% if (demand.contract != null) { %>
                              <div class="col-sm-12">
                                <h5 class="card-title  text-success">
                                  Demande Déjà validé <a href="/uploads/<%-demand.contract.url%>" target="blank"> <i class="fa fa-eye"></i> Cliquer pour voir</a>
                                </h5>
                              </div>
                            <% } else { %>
                              <div class="col-sm-12">
                                <button data-toggle="modal"
                                  data-target=".modal1"  class="btn btn-success">Valider la demande</button>
                              </div>
                            <% } %>
                            
                              
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                </div>
                
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- ============================================================== -->
          <!-- End Demands -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
       <!-- jQuery file upload -->
       <script src="/eliteadmin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
       <script>
         $(document).ready(function () {
           // Basic
           $('.dropify').dropify();
 
           // Translated
           $('.dropify-fr').dropify({
             messages: {
               default: 'Glissez-déposez un fichier ici ou cliquez',
               replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
               remove: 'Supprimer',
               error: 'Désolé, le fichier trop volumineux'
             }
           });
 
           // Used events
           var drEvent = $('#input-file-events').dropify();
 
           drEvent.on('dropify.beforeClear', function (event, element) {
             return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
           });
 
           drEvent.on('dropify.afterClear', function (event, element) {
             alert('File deleted');
           });
 
           drEvent.on('dropify.errors', function (event, element) {
             console.log('Has Errors');
           });
 
           var drDestroy = $('#input-file-to-destroy').dropify();
           drDestroy = drDestroy.data('dropify')
           $('#toggleDropify').on('click', function (e) {
             e.preventDefault();
             if (drDestroy.isDropified()) {
               drDestroy.destroy();
             } else {
               drDestroy.init();
             }
           })
         });
       </script>
       <script>
         function updatePlan(el) {
           console.log(el);
         }
       </script>
    </div>
  </body>
</html>


<div class="modal fade bs-example-modal-lg modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form 
      action="/admin/demands/<%- demand.id %>/validate"
      method="post"
      enctype="multipart/form-data"
      role="form">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Valider la demande #<%- demand.id %> </h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <p>
            Pour valider la demande il suffit d'uploader le contrat resultant du traitement de la demande.
            <br>
            Ce contrat sera envoyé dans la session de l'utilisateur, qui sera notifier à l'instant.
          </p>
          <div class="row">
            
          </div>
          
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <label for="input-file-1">Télécharger le Contrat</label>
                  <input type="file" name="contractFile" id="input-file-1" class="dropify" />
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success waves-effect text-left" >Soumettre</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>