<!-- Admin sidebar -->
<li class="nav-small-cap">--- Administrateur</li>
<li>
    <a class=" waves-effect waves-dark" href="/admin" aria-expanded="false"><i
            class="icon-speedometer"></i><span class="hide-menu">Dashboard
    </a>

</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-layout-grid2"></i><span class="hide-menu">Partenaires</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/partners/add">Ajouter un partenaire</a></li>
        <li><a href="/admin/partners">Liste des partenaires</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-folder"></i><span class="hide-menu">Demandes</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/demands">Liste des demandes</a></li>
        <li><a href="/admin/demands/status/ok">Liste des demandes traitées</a></li>
        <li><a href="/admin/demands/status/pending">Liste des demandes en attente</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-user"></i><span class="hide-menu">Utilisateurs</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/users/add">Ajouter un utilisateur</a></li>
        <li><a href="/admin/users">Liste des utilisateurs</a></li>
    </ul>
</li>
<!-- /Admin sidebar -->