<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">© 2020 Carbone Invest</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/eliteadmin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/eliteadmin/assets/node_modules/popper/popper.min.js"></script>
<script src="/eliteadmin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/eliteadmin/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/eliteadmin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/eliteadmin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/eliteadmin/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--morris JavaScript -->
<script src="/eliteadmin/assets/node_modules/raphael/raphael-min.js"></script>
<script src="/eliteadmin/assets/node_modules/morrisjs/morris.min.js"></script>
<script src="/eliteadmin/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Popup message jquery -->
<script src="/eliteadmin/assets/node_modules/toast-master/js/jquery.toast.js"></script>
<!-- Chart JS -->
<script src="/eliteadmin/dist/js/dashboard1.js"></script>
<script src="/eliteadmin/assets/node_modules/toast-master/js/jquery.toast.js"></script>
