<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- Favicon icon -->
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/eliteadmin/assets/images/favicon.png"
  />
  <title>Carbone Invest - Backoffice | <% if (title) { %> title <% } %></title>
  <!-- This page CSS -->
  <!-- chartist CSS -->
  <link
    href="/eliteadmin/assets/node_modules/morrisjs/morris.css"
    rel="stylesheet"
  />
  <!--Toaster Popup message CSS -->
  <link
    href="/eliteadmin/assets/node_modules/toast-master/css/jquery.toast.css"
    rel="stylesheet"
  />
  <!-- Custom CSS -->
  <link href="/eliteadmin/dist/css/style.min.css" rel="stylesheet" />
  <!-- Dashboard 1 Page CSS -->
  <link href="/eliteadmin/dist/css/pages/dashboard1.css" rel="stylesheet" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
