<div class="card">
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-6">
        <h3><%- (new Date()).toDateString().split(' ')[1] %>  <%- (new Date()).toDateString().split(' ')[3] %></h3>
        <h5 class="font-light m-t-0">Raport de ce mois</h5>
      </div>
      <div class="col-6 align-self-center display-6 text-right">
        <h2 class="text-success">0 F CFA</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <div>
        <h5 class="card-title">Liste de vos demandes</h5>
        <h6 class="card-subtitle">Vos derniers investissements</h6>
      </div>
      <div class="ml-auto">
        <!-- <select class="custom-select b-0">
          <option value="3">Septembre</option>
          <option value="1">Octobre</option>
          <option value="2" selected="">Novembre</option>
        </select> -->
      </div>
    </div>
  </div>

  <div class="table-responsive m-t-40">
    <table
      id="example23"
      class="display nowrap table table-hover table-striped table-bordered"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th>Code</th>
          <th>Date</th>
          <th>Statut</th>
          <th>Type</th>
          <th>Montant</th>
          <th>Contrat</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Date</th>
          <th>Statut</th>
          <th>Type</th>
          <th>Montant</th>
          <th>Contrat</th>
        </tr>
      </tfoot>
      <tbody>
       <% if (demands != '') { %>
        <% for( let i = 0; i < demands.length; i++ ) { %>
          <tr>
            <td>
              <a href="javascript:void(0)" class="link"> 
                #CA<%-(new Date(demands[i].createdAt)).getHours()%>
                -<%-demands[i].id%>
                -<%-(new Date(demands[i].createdAt)).getSeconds() %> </a>
            </td>
            <td>
              <span class="text-muted"
                ><i class="fa fa-clock-o"></i> <%-(new Date(demands[i].createdAt)).getDate()%> 
                / <%-(new Date(demands[i].createdAt)).getMonth() + 1 %>
                / <%-(new Date(demands[i].createdAt)).getFullYear()%> </span
              >
            </td>
            <td class="text-center">
              <div class="label label-table <%-demands[i].state ? 'label-success' : 'label-warning'%> ">
                <%-demands[i].state ? 'En cours' : 'En attente'%>
              </div>
            </td>
            <td><%-demands[i].InvestmentPlan.title%></td>
            <td><%-demands[i].amount%> F</td>
            
            <td class="text-center">
              <% if (demands[i].state) { %>
                <a href="/uploads/<%-demands[i].contract.url%>" target="blank"> <i class="fa fa-eye"> Ouvrir le contrat</i></a>
              <% } else { %>
                - 
              <% } %>
            </td>
          </tr>
        <% } %>
       
        <% } else { %>
          <tr>
            <td colspan="6">Aucun investissement enregistré.</td>
          </tr>
       <% } %>    
      </tbody>
    </table>
  </div>
</div>
