<!-- Investor sidebar -->
<li class="nav-small-cap">--- Investisseur</li>
<li>
    <a class=" waves-effect waves-dark" href="/admin" aria-expanded="false"><i
            class="icon-speedometer"></i><span class="hide-menu">Dashboard
    </a>

</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-email"></i><span class="hide-menu">Dossiers</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/investments">Liste des investissements</a></li>
        <li><a href="/admin/investments/add">Investir</a></li>
    </ul>
</li>
<!-- /Investor sidebar -->