<!-- Partner sidebar -->
<li class="nav-small-cap">--- Partenaire</li>
<li>
    <a class=" waves-effect waves-dark" href="/admin" aria-expanded="false"><i
            class="icon-speedometer"></i><span class="hide-menu">Dashboard
    </a>

</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-layout-grid2"></i><span class="hide-menu">Plan d'investiss.</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/investment_plans/add">Ajouter un plan</a></li>
        <li><a href="/admin/investment_plans">Liste des plans</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-layout-grid2"></i><span class="hide-menu">Traitements</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/demands">Liste des demandes</a></li>
        <li><a href="/admin/demands/status/ok">Liste des demandes traitées</a></li>
        <li><a href="/admin/demands/status/pending">Liste des demandes en attente</a></li>
    </ul>
</li>
<!-- <li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
            class="ti-folder"></i><span class="hide-menu">Dossiers</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="/admin/investments">Dossiers des investisseurs</a></li>
    </ul>
</li> -->
<!-- /Partner sidebar -->