<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-pro">
          <a
            class="has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><img
              src="/eliteadmin/assets/images/users/1.jpg"
              alt="user-img"
              class="img-circle"
            /><span style="font-size: 11px" class="hide-menu"
              ><%- user.firstName %>
            </span></a
          >
        </li>

        <% if (user.isSuperAdmin()) { %> <%- include('_admin_sidebar'); %> <%-
        include('_partner_sidebar'); %> <%- include('_investor_sidebar'); %> <%
        } else if (user.isAdmin()) { %> <%- include('_admin_sidebar'); %> <% }
        else if (user.isPartner()) { %> <%- include('_partner_sidebar'); %> <% }
        else { %> <%- include('_investor_sidebar'); %> <% } %>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->

<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar">
  <div class="slimscrollright">
    <div class="rpanel-title">
      Service Panel
      <span><i class="ti-close right-side-toggle"></i></span>
    </div>
    <div class="r-panel-body">
      <ul id="themecolors" class="m-t-20">
        <li><b>Thème light</b></li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-default"
            class="default-theme"
            >1</a
          >
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-green"
            class="green-theme"
            >2</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" data-skin="skin-red" class="red-theme"
            >3</a
          >
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-blue"
            class="blue-theme working"
          >
            4
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-purple"
            class="purple-theme"
          >
            5
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-megna"
            class="megna-theme"
          >
            6
          </a>
        </li>
        <li class="d-block m-t-30"><b>Thème sombre</b></li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-default-dark"
            class="default-dark-theme"
          >
            7
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-green-dark"
            class="green-dark-theme"
          >
            8
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-red-dark"
            class="red-dark-theme"
            >9</a
          >
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-blue-dark"
            class="blue-dark-theme"
          >
            10
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-purple-dark"
            class="purple-dark-theme"
          >
            11
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            data-skin="skin-megna-dark"
            class="megna-dark-theme"
          >
            12
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
