<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <h3><i class="icon-screen-desktop"></i></h3>
              <p class="text-muted">CLIENTS</p>
            </div>
            <div class="ml-auto">
              <h2 class="counter text-primary">23</h2>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div
              class="progress-bar bg-primary"
              role="progressbar"
              style="width: 85%; height: 6px"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <h3><i class="icon-note"></i></h3>
              <p class="text-muted">PARTENAIRES</p>
            </div>
            <div class="ml-auto">
              <h2 class="counter text-cyan">169</h2>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div
              class="progress-bar bg-cyan"
              role="progressbar"
              style="width: 85%; height: 6px"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <h3><i class="icon-doc"></i></h3>
              <p class="text-muted">DEMANDES</p>
            </div>
            <div class="ml-auto">
              <h2 class="counter text-purple">157</h2>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div
              class="progress-bar bg-purple"
              role="progressbar"
              style="width: 85%; height: 6px"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <h3><i class="icon-bag"></i></h3>
              <p class="text-muted">CONTRATS</p>
            </div>
            <div class="ml-auto">
              <h2 class="counter text-success">431</h2>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 85%; height: 6px"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Info box -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Over Visitor, Our income , slaes different and  sales prediction -->
<!-- ============================================================== -->
<div class="row"></div>
