<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>
    <link rel="stylesheet" href="/eliteadmin/assets/node_modules/dropify/dist/css/dropify.min.css">


  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Investissements</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Investissements</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <% if (errors !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% errors.forEach((item) => { %>
              <div class="alert alert-danger"><%- item%></div>
              <% }); %>
            </div>
            <% } %> <% if (infos !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% infos.forEach((item) => { %>
              <div class="alert alert-success"><%- item%></div>
              <% }); %>
            </div>
            <% } %>
          </div>
          
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Cliquer pour investir dans le marché boursier</h4>
                  <!-- sample modal content -->
                  <div class="modal fade bs-example-modal-lg modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <form 
                        action="/admin/investments/save"
                        method="post"
                        enctype="multipart/form-data"
                        role="form">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Remplissez ce formulaire de demande</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                            <br><br>
                            <div class="row">
                              <div class="col-4">
                                <div class="form-group">
                                  <label for="example-email">Partenaire
                                  </label>
                                  <select class="form-control" id="inlineFormCustomSelect" name="partnerId" onchange="updatePlan(this)">
                                    <% partners.forEach(partner => { %>
                                    <option value="<%-partner.id%>"><%-partner.name%></option>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-8">
                                <div class="form-group">
                                  <label for="example-email">Plan
                                   </label>
                                   <select class="form-control" id="inlineFormCustomSelect2" name="investmentPlanId">
                                    <% plans.forEach(plan => { %>
                                    <option data="<%-plan.Partner.id%>" value="<%-plan.id%>"><%-plan.title%></option>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4">
                                <div class="form-group">
                                  <label for="amount">Montant
                                   </label>
                                  <input type="number" id="amount" name="amount" class="form-control" placeholder="Montant" />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">Piece d'identité</h4>
                                    <label for="input-file-1">Uploader le fichier</label>
                                    <input type="file" name="idFile" id="input-file-1" class="dropify" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">Autre justificatif</h4>
                                  <label for="input-file-2">Uploader le fichier</label>
                                  <input type="file" name="secondaryFile" id="input-file-2" class="dropify" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success waves-effect text-left" >Soumettre</button>
                          </div>
                        </form>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <img src="/img/features-1.png" alt="default" data-toggle="modal"
                    data-target=".modal1" class="model_img img-responsive" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Cliquer pour investir dans l'innovation</small></h4>
                  <!-- sample modal content -->
                  <div class="modal fade bs-example-modal-lg modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myLargeModalLabel2">Large modal</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                          <h4>Overflowing text to show scroll behavior</h4>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                            laoreet rutrum faucibus dolor auctor.</p>
                          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                           
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <img src="/img/features-3.png" alt="default" data-toggle="modal" data-target=".modal00"
                    class="model_img img-responsive" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Cliquer pour investir dans le social</h4>
                  <!-- sample modal content -->
                  <div class="modal fade bs-example-modal-lg modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel3"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myLargeModalLabel3">Large modal</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                          <h4>Overflowing text to show scroll behavior</h4>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                            laoreet rutrum faucibus dolor auctor.</p>
                          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <img src="/img/features-2.png" alt="default" data-toggle="modal" data-target=".modal00"
                    class="model_img img-responsive" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Cliquer payer des actions dans une société au Togo</h4>
                  <!-- sample modal content -->
                  <div class="modal fade bs-example-modal-lg modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel4"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myLargeModalLabel4">Large modal</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                          <h4>Overflowing text to show scroll behavior</h4>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                            laoreet rutrum faucibus dolor auctor.</p>
                          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <img src="/img/features-3.png" alt="default" data-toggle="modal" data-target=".modal00"
                    class="model_img img-responsive" />
                </div>
              </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
      <!-- jQuery file upload -->
      <script src="/eliteadmin/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
      <script>
        $(document).ready(function () {
          // Basic
          $('.dropify').dropify();

          // Translated
          $('.dropify-fr').dropify({
            messages: {
              default: 'Glissez-déposez un fichier ici ou cliquez',
              replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
              remove: 'Supprimer',
              error: 'Désolé, le fichier trop volumineux'
            }
          });

          // Used events
          var drEvent = $('#input-file-events').dropify();

          drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
          });

          drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
          });

          drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
          });

          var drDestroy = $('#input-file-to-destroy').dropify();
          drDestroy = drDestroy.data('dropify')
          $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
              drDestroy.destroy();
            } else {
              drDestroy.init();
            }
          })
        });
      </script>
      <script>
        function updatePlan(el) {
          console.log(el);
        }
      </script>
    </div>
  </body>
</html>
