<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Investissements</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Investissements</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Liste de vos investisseurs</h4>
              
              <div class="table-responsive m-t-40">
                <table
                  id="example23"
                  class="display nowrap table table-hover table-striped table-bordered"
                  cellspacing="0"
                  width="100%"
                >
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Date</th>
                      <th>Statut</th>
                      <th>Type</th>
                      <th>Montant</th>
                      <th>Contrat</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Code</th>
                      <th>Date</th>
                      <th>Statut</th>
                      <th>Type</th>
                      <th>Montant</th>
                      <th>Contrat</th>
                    </tr>
                  </tfoot>
                  <tbody>
                   <% if (demands != '') { %>
                    <% for( let i = 0; i < demands.length; i++ ) { %>
                      <tr>
                        <td>
                          <a href="javascript:void(0)" class="link"> 
                            #CA<%-(new Date(demands[i].createdAt)).getHours()%>
                            -<%-demands[i].id%>
                            -<%-(new Date(demands[i].createdAt)).getSeconds() %> </a>
                        </td>
                        <td>
                          <span class="text-muted"
                            ><i class="fa fa-clock-o"></i> <%-(new Date(demands[i].createdAt)).getDate()%> 
                            / <%-(new Date(demands[i].createdAt)).getMonth() + 1 %>
                            / <%-(new Date(demands[i].createdAt)).getFullYear()%> </span
                          >
                        </td>
                        <td class="text-center">
                          <div class="label label-table <%-demands[i].state ? 'label-success' : 'label-warning'%> ">
                            <%-demands[i].state ? 'En cours' : 'En attente'%>
                          </div>
                        </td>
                        <td><%-demands[i].InvestmentPlan.title%></td>
                        <td><%-demands[i].amount%> F</td>
                        
                        <td class="text-center">
                          <% if (demands[i].state) { %>
                            <a href="/uploads/<%-demands[i].contract.url%>" target="blank"> <i class="fa fa-eye"> Ouvrir le contrat</i></a>
                          <% } else { %>
                            - 
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                   
                    <% } else { %>
                      <tr>
                        <td colspan="6">Aucun investissement enregistré.</td>
                      </tr>
                   <% } %>    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
      <!-- This is data table -->
      <script src="/eliteadmin/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
      <!-- start - This is for export functionality only -->
      <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
      <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
      <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
      <!-- end - This is for export functionality only -->
      <script>
        $("#example23").DataTable({
          dom: "Bfrtip",
          buttons: ["copy", "csv", "excel", "pdf", "print"],
        });
      </script>
    </div>
  </body>
</html>
