<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head', { title: ''}); %>

<body class="skin-blue fixed-layout">
  <%- include('../partials/_loading'); %>

  <div id="main-wrapper">
    <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Investissements</h4>
          </div>
          <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Accueil</a>
                </li>
                <li class="breadcrumb-item active">Investissements</li>
              </ol>
              <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <link href="/eliteadmin/assets/node_modules/horizontal-timeline/css/horizontal-timeline.css" rel="stylesheet" />
        <!-- Custom CSS -->
        <link href="/eliteadmin/dist/css/style.min.css" rel="stylesheet" />
        <!-- page css -->
        <link href="/eliteadmin/dist/css/pages/timeline-vertical-horizontal.css" rel="stylesheet" />

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="timeline-heading">
                  <h4 class="timeline-title"></h4>
                </div>
              </div>
              <div class="card-body">
                <section class="cd-horizontal-timeline">
                  <div class="timeline">
                    <div class="events-wrapper">
                      <div class="events">
                        <ol>
                          <li>
                            <a href="#0" data-date="16/01/2014" class="selected">16 Jan</a>
                          </li>
                          <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                          <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                          <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                          <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                          <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                          <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                          <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                          <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                          <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                          <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                        </ol>
                        <span class="filling-line" aria-hidden="true"></span>
                      </div>
                      <!-- .events -->
                    </div>
                    <!-- .events-wrapper -->
                    <ul class="cd-timeline-navigation">
                      <li><a href="#0" class="prev inactive">Prev</a></li>
                      <li><a href="#0" class="next">Next</a></li>
                    </ul>
                    <!-- .cd-timeline-navigation -->
                  </div>
                  <!-- .timeline -->
                  <div class="events-content">
                    <ol>
                      <li class="selected" data-date="16/01/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/1.jpg" alt="user" />
                          Horizontal Timeline<br /><small>January 16th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="28/02/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/8.jpg" alt="user" />
                          Horizontal Timeline<br /><small>Feb 28th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="20/04/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/7.jpg" alt="user" />
                          Horizontal Timeline<br /><small>March 20th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="20/05/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/6.jpg" alt="user" />
                          Horizontal Timeline<br /><small>May 20th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="09/07/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/5.jpg" alt="user" />
                          Horizontal Timeline<br /><small>July 9th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="30/08/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/4.jpg" alt="user" />
                          Horizontal Timeline<br /><small>August 30th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="15/09/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/3.jpg" alt="user" />
                          Horizontal Timeline<br /><small>September 15th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="01/11/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/2.jpg" alt="user" />
                          Horizontal Timeline<br /><small>November 01st, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="10/12/2014">
                        <h2>
                          <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user"
                            src="/eliteadmin/assets/images/users/1.jpg" alt="user" />
                          Horizontal Timeline<br /><small>December 10th, 2014</small>
                        </h2>
                        <p class="m-t-40">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                        <p>
                          <button class="btn btn-rounded btn-outline-info m-t-20">
                            Read more
                          </button>
                        </p>
                      </li>
                      <li data-date="19/01/2015">
                        <h2>Event title here</h2>
                        <em>January 19th, 2015</em>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                      </li>
                      <li data-date="03/03/2015">
                        <h2>Event title here</h2>
                        <em>March 3rd, 2015</em>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Illum praesentium officia, fugit recusandae ipsa, quia
                          velit nulla adipisci? Consequuntur aspernatur at, eaque
                          hic repellendus sit dicta consequatur quae, ut harum ipsam
                          molestias maxime non nisi reiciendis eligendi! Doloremque
                          quia pariatur harum ea amet quibusdam quisquam, quae,
                          temporibus dolores porro doloribus.
                        </p>
                      </li>
                    </ol>
                  </div>
                  <!-- .events-content -->
                </section>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->

  <%- include('partials/_footer'); %>
  <script src="/eliteadmin/assets/node_modules/horizontal-timeline/js/horizontal-timeline.js"></script>
  </div>
</body>

</html>