<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Carbone Invest - Investir |</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="vendor/line-awesome/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link href="vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Selecao - v2.2.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="/">Carbone Invest</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/"><img src="img/logo.png"  style="max-height: 150px;" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="/#about">A propos</a></li>
            <li><a href="/#features">Services</a></li>
            <li><a href="/#clients">Partenaires</a></li>
            <!-- <li><a href="#services">Services</a></li> -->
            <!-- <li><a href="#portfolio">Portfolio</a></li> -->
            <!-- <li><a href="#pricing">Pricing</a></li> -->
            <!-- <li><a href="#team">Team</a></li> -->
            <!-- <li class="drop-down"><a href="">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down 1</a></li>
                                    <li class="drop-down"><a href="#">Drop Down 2</a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 1</a></li>
                                            <li><a href="#">Deep Drop Down 2</a></li>
                                            <li><a href="#">Deep Drop Down 3</a></li>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>
                                    <li><a href="#">Drop Down 5</a></li>
                                </ul>
                            </li> -->
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/admin">Mon compte</a></li>
            <li></li>
            <li style="
                      
                        text-decoration: none;
                        font-weight: bold;
                      ">
              <i class="fa fa-time"></i>
              <a style="color: #eed106 !important" id="no-hover"><span id="ct"></span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <main>
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Je veux payer des actions dans une société</h2>
            <ol>
              <li><a href="/">Accueil</a></li>
              <li><a href="/invest">Investir</a></li>
              <li>Renseignement</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Features Section ======= -->
      <section id="inner-page features" class="features">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2 style="text-transform: none !important">Investir chez ?</h2>
            <p style="text-transform: none">Renseignement sur la société</p>
          </div>


          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="img/features-3.png" alt="" class="img-fluid" />
            </div>
            <div class="faq col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <a style="color: orangered" href="/signup">Inscrivez-vous pour continuer</a>
              <br><br>
              <ul class="faq-list">
              
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-toggle="collapse" class="" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i
                      class="icofont-simple-up"></i></a>
                  <div id="faq1" class="collapse show" data-parent=".faq-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
                      Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>
              
                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a
                    pellentesque? <i class="icofont-simple-up"></i></a>
                  <div id="faq2" class="collapse" data-parent=".faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
                      ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
                      dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>
              
                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque
                    habitant morbi? <i class="icofont-simple-up"></i></a>
                  <div id="faq3" class="collapse" data-parent=".faq-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer
                      enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis
                      convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>
              
                <li data-aos="fade-up" data-aos-delay="400">
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                    <i class="icofont-simple-up"></i></a>
                  <div id="faq4" class="collapse" data-parent=".faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
                      ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
                      dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>
              
                <li data-aos="fade-up" data-aos-delay="500">
                  <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor
                    consequat? <i class="icofont-simple-up"></i></a>
                  <div id="faq5" class="collapse" data-parent=".faq-list">
                    <p>
                      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus
                      commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit
                      turpis cursus in
                    </p>
                  </div>
                </li>
              
                <li data-aos="fade-up" data-aos-delay="600">
                  <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel
                    turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
                  <div id="faq6" class="collapse" data-parent=".faq-list">
                    <p>
                      Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel.
                      Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus
                      vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus.
                      Nibh tellus molestie nunc non blandit massa enim nec.
                    </p>
                  </div>
                </li>
              
              </ul>
          </div>
            
      </section>
      <!-- End Features Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Carbone Invest</h3>
        <p>Avec Carbone Invest on innove pour vous.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Carbone Invest</span></strong>. Tout droits réservés.
        </div>
        <div class="credits">
    
          Conçu par <a href="#">Conqlab</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
  </body>
</html>
