<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Carbone Invest - Investir</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="vendor/line-awesome/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link href="vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Selecao - v2.2.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="/">Carbone Invest</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/"
            ><img
              src="img/logo.png"
              style="max-height: 150px"
              alt=""
              class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="/#about">A propos</a></li>
            <li><a href="/#features">Services</a></li>
            <li><a href="/#clients">Partenaires</a></li>
            <!-- <li><a href="#services">Services</a></li> -->
            <!-- <li><a href="#portfolio">Portfolio</a></li> -->
            <!-- <li><a href="#pricing">Pricing</a></li> -->
            <!-- <li><a href="#team">Team</a></li> -->
            <!-- <li class="drop-down"><a href="">Drop Down</a>
                                                <ul>
                                                    <li><a href="#">Drop Down 1</a></li>
                                                    <li class="drop-down"><a href="#">Drop Down 2</a>
                                                        <ul>
                                                            <li><a href="#">Deep Drop Down 1</a></li>
                                                            <li><a href="#">Deep Drop Down 2</a></li>
                                                            <li><a href="#">Deep Drop Down 3</a></li>
                                                            <li><a href="#">Deep Drop Down 4</a></li>
                                                            <li><a href="#">Deep Drop Down 5</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Drop Down 3</a></li>
                                                    <li><a href="#">Drop Down 4</a></li>
                                                    <li><a href="#">Drop Down 5</a></li>
                                                </ul>
                                            </li> -->
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/admin">Mon compte</a></li>
            <li></li>
            <li style="text-decoration: none; font-weight: bold">
              <i class="fa fa-time"></i>
              <a style="color: #eed106 !important" id="no-hover"
                ><span id="ct"></span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <main>
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Je veux investir</h2>
            <ol>
              <li><a href="/">Accueil</a></li>
              <li>Investir</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Features Section ======= -->
      <section id="inner-page features" class="features">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2 style="text-transform: none !important">
              Voulez-vous investir ?
            </h2>
            <p style="text-transform: none">Choisissez votre investissement</p>
          </div>

          <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <i class="ri-line-chart-fill"></i>
                <h4 class="d-none d-lg-block">Dans le marché boursier</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <i class="ri-funds-line"></i>
                <h4 class="d-none d-lg-block">Dans l'innovation</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <i class="ri-group-fill"></i>
                <h4 class="d-none d-lg-block">Dans le social</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-4">
                <i class="ri-hand-coin-line"></i>
                <h4 class="d-none d-lg-block">En payant des actions au Togo</h4>
              </a>
            </li>
          </ul>

          <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Vous voulez investir en bourse.</h3>
                  <p class="font-italic">
                    Investir en Bourse revient à acheter ou vendre des titres
                    sur les marchés financiers. Cet investissement permet entre
                    autre de :
                  </p>
                  <ul>
                    <li>
                      <i class="ri-check-double-line"></i> Recevoir des revenus
                      : un particulier peut recevoir des dividendes qui
                      représentent une partie des bénéfices de la société s'il
                      achète des actions. Il peut également recevoir des coupons
                      d'obligations qui représentent un versement d'intérêts,
                      les obligations étant des prêts consentis par les
                      investisseurs aux émetteurs.
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> Profiter de plus
                      values : un investisseur tire des profits s'il vend plus
                      cher un titre qu'il ne l'a acheté du fait de l'évolution
                      du prix du titre sur le marché.
                    </li>
                  </ul>
                  <p>
                    Nous vous fournissons ici la liste des société chez qui vous
                    pouvez investir en bourse :
                  </p>
                  <ul>
                    <li>
                      <div class="about" style="padding-top: 0 !important">
                        <div class="content">
                          <a
                            href="/company_detail"
                            class="about content btn-learn-more"
                            >SAPERCOM SARL</a
                          >
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="img/features-1.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>L'innovation est partout</h3>
                  <p>
                    Aujourd’hui, l’innovation est omniprésente. Elle couvre tous
                    les domaines de l’économie mondiale. <br />
                  </p>

                  <ul>
                    <li>
                      <i class="ri-check-double-line"></i>En tant
                      qu’investisseurs axés sur la croissance, nous pensons
                      qu’il faut investir dans l’innovation dans tous les
                      secteurs pour avoir le potentiel de surperformer le
                      marché.
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> En tant
                      qu’investisseurs dans la croissance, nous cherchons à
                      investir dans l’innovation, en couvrant tous les secteurs,
                      toutes les capitalisations boursières et toutes les
                      régions du monde.
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="img/features-3.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Investir dans le social</h3>
                  <p>
                    Les «investissements sociaux» consistent à investir dans les
                    personnes en adoptant des mesures pour renforcer leurs
                    compétences et leurs capacités et leur permettre de
                    participer pleinement au monde du travail et à la société.
                    <br />
                    Les domaines les plus connues par exemple sont:
                  </p>
                  <ul>
                    <li>
                      <i class="ri-check-double-line"></i> l'éducation et la
                      formation
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i>des services de garde
                      d'enfants de qualité.
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> les soins de santé
                    </li>
                    <li>
                      <i class="ri-check-double-line"></i> l'aide à la recherche
                      d'emploi et la réinsertion..
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="img/features-2.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>
                    Vous voulez payer des actions dans une société au Togo
                  </h3>
                  <p class="font-italic">
                    Une action est une part du capital d’une entreprise.
                  </p>
                  <p>
                    Les entreprises ont besoin de capital pour fonctionner. Que
                    ce soit pour acheter des matières premières, payer ses
                    employés, ses locaux, ses machines, ses fournisseurs, etc.
                  </p>
                  <p>
                    En achetant des actions, vous investissez dans une
                    entreprise et percevez des dividendes si celle-ci réalise
                    des bénéfices.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="img/features-3.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Carbone Invest</h3>
        <p>Avec Carbone Invest on innove pour vous.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Carbone Invest</span></strong
          >. Tout droits réservés.
        </div>
        <div class="credits">Conçu par <a href="#">Conqlab</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
  </body>
</html>
