<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Carbone Invest - Apprendre le trading |</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="vendor/line-awesome/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link href="vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Selecao - v2.2.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="/">Carbone Invest</a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/"
            ><img
              src="img/logo.png"
              style="max-height: 150px"
              alt=""
              class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="/#about">A propos</a></li>
            <li><a href="/#features">Services</a></li>
            <li><a href="/#clients">Partenaires</a></li>
            <!-- <li><a href="#services">Services</a></li> -->
            <!-- <li><a href="#portfolio">Portfolio</a></li> -->
            <!-- <li><a href="#pricing">Pricing</a></li> -->
            <!-- <li><a href="#team">Team</a></li> -->
            <!-- <li class="drop-down"><a href="">Drop Down</a>
                                        <ul>
                                            <li><a href="#">Drop Down 1</a></li>
                                            <li class="drop-down"><a href="#">Drop Down 2</a>
                                                <ul>
                                                    <li><a href="#">Deep Drop Down 1</a></li>
                                                    <li><a href="#">Deep Drop Down 2</a></li>
                                                    <li><a href="#">Deep Drop Down 3</a></li>
                                                    <li><a href="#">Deep Drop Down 4</a></li>
                                                    <li><a href="#">Deep Drop Down 5</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Drop Down 3</a></li>
                                            <li><a href="#">Drop Down 4</a></li>
                                            <li><a href="#">Drop Down 5</a></li>
                                        </ul>
                                    </li> -->
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/admin">Mon compte</a></li>
            <li></li>
            <li style="text-decoration: none; font-weight: bold">
              <i class="fa fa-time"></i>
              <a style="color: #eed106 !important" id="no-hover"
                ><span id="ct"></span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <main>
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Je veux apprendre à trader</h2>
            <ol>
              <li><a href="/">Accueil</a></li>
              <li><a href="#">Se former dans le trading</a></li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Features Section ======= -->
      <section id="inner-page features" class="features">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2 style="text-transform: none !important">
              Rejoindre une ecole de trading
            </h2>
          </div>

          <div class="tab-content"> <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>Vous voulez joindre une école de trading?</h3>

              <p style="text-align: justify;">
                  Grace à la democratisation du trading il est possible
                  aujourd'hui de devenir tradeur amateur ou professionnel. Vous
                  pouvez donc passer d'investisseur pour devenir tradeur
                  particulier ou pro. Des formations de nos partenaires vous
                  attendent. Rejoignez l'école en mouvement du tarding et
                  commencer par telecharger des dollards pour votre
                  portefeuille.
                
  Vous avez le choix pour les offres qui se presentent à vous :
</p>
<ul style="list-style: none;">
                <li>
                  <div class="about" style="padding-top: 0 !important">
                    <div class="content">
                      <a href="javascript:void()" class="about content btn-learn-more" 
                        >CACESPIC-IF</a
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="about" style="padding-top: 0 !important">
                    <div class="content">
                      <a href="javascript:void()" class="about content btn-learn-more"
                        >COMGATE TRADE SCHOOL</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="img/features-1.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Carbone Invest</h3>
        <p>Avec Carbone Invest on innove pour vous.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Carbone Invest</span></strong
          >. Tout droits réservés.
        </div>
        <div class="credits">Conçu par <a href="#">Conqlab</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
  </body>
</html>
