<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Plans d'investissement</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Plans d'investissement</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- .row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card card-body">
                <h4 class="card-title">Ajouter un nouveau plan</h4>
                <!-- <h6 class="card-subtitle">All bootstrap element classies</h6> -->
                <form
                  class="form-horizontal m-t-40"
                  action="/admin/investment_plans/save"
                  method="post"
                  role="form"
                >
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <label>Titre</label>
                        <input type="text" class="form-control" name="title" id="title">
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="minAmount"
                          >Montant minimum
                          </label
                        >
                        <input
                          type="number"
                          id="minAmount"
                          name="minAmount"
                          class="form-control"
                          placeholder="Montant minimum"
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="maxAmount"
                          >Montant maximum
                          </label
                        >
                        <input
                          type="number"
                          id="maxAmount"
                          name="maxAmount"
                          class="form-control"
                          placeholder="Montant maximum"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="startAt"
                          >Date début
                          </label
                        >
                        <input
                          type="date"
                          id="startAt"
                          name="startAt"
                          class="form-control"
                          placeholder="Date début"
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="endAt"
                        >Date fin
                        </label
                      >
                      <input
                        type="date"
                        id="endAt"
                        name="endAt"
                        class="form-control"
                        placeholder="Date début"
                      />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-info d-lg-block m-l-15 pull-right"
                    >
                      <i class="fa fa-plus-circle"></i> Ajouter
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
