<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Plans d'investissement</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Plans d'investissement</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- column -->
            <div class="col-12">
              <div class="row">
                <% if (infos !== '') { %>
                <div class="col-lg-8 mt-2 mt-lg-0">
                  <% infos.forEach((item) => { %>
                  <div class="alert alert-success"><%- item%></div>
                  <% }); %>
                </div>
                <% } %>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Liste des Plans d'investissement</h4>
                  
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Titre</th>
                          <th>Montant min</th>
                          <th>Montant max</th>
                          <th>Date debut</th>
                          <th>Date Fin</th>
                          <th class="text-nowrap">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (plans != '') { %> <% for( let i = 0; i <
                        plans.length; i++ ) { %>
                        <tr>
                          <td><%-plans[i].title;%></td>

                          <td><%- plans[i].minAmount;%></td>
                          <td><%- plans[i].maxAmount;%></td>
                          <td><%- plans[i].startAt;%></td>
                          <td><%- plans[i].endAt;%></td>
                          <td class="text-nowrap">
                            <!-- 
                            <a
                              href="/admin/invesment_plans/edit/<%-plans[i].id%>"
                              data-toggle="tooltip"
                              data-original-title="Modifier"
                            >
                              <i class="fa fa-pencil text-inverse m-r-10"></i>
                            </a> -->
                            <a
                              href="/admin/invesment_plans/delete/<%-plans[i].id%>"
                              data-toggle="tooltip"
                              data-original-title="Supprimer"
                            >
                              <i class="fa fa-close text-danger"></i>
                            </a>
                          </td>
                        </tr>
                        <% } %> <% } else { %>
                        <td colspan="6">Aucun plan enregistré</td>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- column -->
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
