<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head', { title: ''}); %>
  <body class="skin-blue fixed-layout">
    <%- include('partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('partials/_topbar'); %> <%- include('partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <div class="row">
            <% if (errors !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% errors.forEach((item) => { %>
              <div class="alert alert-danger"><%- item%></div>
              <% }); %>
            </div>
            <% } %> <% if (infos !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% infos.forEach((item) => { %>
              <div class="alert alert-success"><%- item%></div>
              <% }); %>
            </div>
            <% } %>
          </div>
          <% if (user.isPartner()) { %> <%- include('partials/_partner_main');
          %> <% } else if (user.isAdmin()) { %> <%-
          include('partials/_admin_main'); %> <% } else if (user.isInvestor()) {
          %> <%- include('partials/_investor_main'); %> <% } else if
          (user.isSuperAdmin()) { %> <%- include('partials/_superadmin_main');
          %> <% } %>

          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <!-- ============================================================== -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('partials/_footer'); %>
    </div>
  </body>
</html>
