<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Utilisateur</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Utilisateur</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info  d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-body">
                <h4 class="card-title">Ajouter un nouveau partenaire</h4>
                <!-- <h6 class="card-subtitle">All bootstrap element classies</h6> -->
                <form class="form-horizontal m-t-40" action="/admin/users/save" method="post" role="form">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="lastName" value="" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">

                        <label for="example-email">Email
                          <span class="help">
                            e.g. "example@gmail.com"</span></label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
                       
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" id="inlineFormCustomSelect" name="role">
                          <option value="ROLE_ADMIN">Carbone Invest Admin</option>
                          <option value="ROLE_PARTNER">Partenaire</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Partner</label>
                        <select class="form-control" id="inlineFormCustomSelect" name="partnerId">
                            <option value="null">Carbone Invest</option>
                            <% partners.forEach(partner => { %>
                            <option value="<%-partner.id%>"><%-partner.name%></option>
                            <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
          
                  <div class="row">
                              <div class="col-6">
                                <div class="form-group">
                                  <label>Mot de passe</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="password"
                                    placeholder=""
                                  />
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                  <label>Confirmer le mot de passe</label>
                                  <input
                                  name="confirmPassword"
                                    type="text"
                                    class="form-control"
                                    placeholder=""
                                  />
                                </div>
                              </div>
                            </div>
          
                  <div class="form-group">
                    <label>Adresse</label>
                    <textarea class="form-control" rows="5" name="address"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-info  d-lg-block m-l-15">
                      <i class="fa fa-plus-circle"></i> Ajouter
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
         
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
