<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Utilisateur</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Utilisateur</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <div class="row">
            <% if (errors !== '') { %>
            <div class="col-lg-8 mt-2 mt-lg-0">
              <% errors.forEach((item) => { %>
              <div class="alert alert-danger"><%- item%></div>
              <% }); %>
            </div>
            <% } %>
          </div>
          <div class="row">
            <div class="col-lg-8 mt-2 mt-lg-0" data-aos="fade-left">
              <form
                action="/handleSignup"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="lastName"
                      class="form-control"
                      id="lastName"
                      placeholder="Nom"
                      data-rule="minlen:4"
                      data-msg="Entrer au moins 4 lettres"
                      value="<%=form.lastName%>"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="firstName"
                      class="form-control"
                      id="firstName"
                      placeholder="Prénoms"
                      data-rule="minlen:4"
                      data-msg="Entrer au moins 4 lettres"
                      value="<%=form.firstName%>"
                    />
                    <div class="validate"></div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder=" Email"
                      data-rule="email"
                      data-msg="Entrer une adresse email valide"
                      value="<%=form.email%>"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="tel"
                      class="form-control"
                      name="phone"
                      id="phone"
                      placeholder="Téléphone"
                      data-rule="minlen:8"
                      data-msg="Object au moins 8 lettres"
                      value="<%=form.phone%>"
                    />
                    <div class="validate"></div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder=" Mot de passe"
                      data-rule="minlen:8"
                      data-msg="Mot de passe au moins 8 lettres"
                      value="<%=form.password%>"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="password"
                      class="form-control"
                      name="confirmPassword"
                      id="confirmPassword"
                      placeholder="Confirmer le mot de passe"
                      data-rule="minlen:8"
                      data-msg="Mot de passe au moins 8 lettres"
                      value="<%=form.confirmPassword%>"
                    />
                    <div class="validate"></div>
                  </div>
                </div>

                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="address"
                    id="address"
                    rows="5"
                    data-rule="required"
                    data-msg="Entrer un contenu svp"
                    placeholder="Adresse"
                    value="<%=form.address%>"
                  ></textarea>
                  <div class="validate"></div>
                </div>

                <div class="text-center">
                  <button type="submit">Valider</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
