<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>
  <body class="skin-blue fixed-layout">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <a href="carboneinvest.com"
            ><img src="img/logo.png" alt="" class="img-fluid"
          /></a>
        </div>
        <div class="card-body p-t-0">
          <div class="card b-all shadow-none">
            <div class="card-body">
              <h3 class="card-title m-b-0">
                Confirmation de création de compte
              </h3>
            </div>
            <div>
              <hr class="m-t-0" />
            </div>
            <div class="card-body">
              <p><b>Cher <%- user.firstName %>, </b></p>
              <p>
                Votre compte a été crée avec succès sur
                <a href="carboneinvest.com">Carbone Invest</a>
              </p>
              <p>
                Carbone Invest vous remercie pour votre inscription et la
                confiance accordée. Dans le but de vous garantir une franche
                collaboration et la sécurité dans vos transactions ,vos
                informations de connexion ont été envoyé sur dans ce mail.
                Ainsi, nous vous demandons de garder ce mail pour les retrouver;
                .
              </p>
              <p>
                <span style="color: red; font-style: bold"
                  >Email: <%- user.email %>
                </span>
                <br />
                <span style="color: red; font-style: bold"
                  >Mot de passe: <%- password %>
                </span>
                <br />
              </p>
            </div>
            <div>
              <hr class="m-t-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
