<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: ''}); %>

  <body class="skin-blue fixed-layout">
    <%- include('../partials/_loading'); %>

    <div id="main-wrapper">
      <%- include('../partials/_topbar'); %> <%-
      include('../partials/_sidebar'); %>

      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">Utilisateur</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Accueil</a>
                  </li>
                  <li class="breadcrumb-item active">Utilisateur</li>
                </ol>
                <!-- <button
                  type="button"
                  class="btn btn-info d-none d-lg-block m-l-15"
                >
                  <i class="fa fa-plus-circle"></i> Create New
                </button> -->
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->

          <div class="row">
            <!-- column -->
            <div class="col-12">
              <div class="row">
                <% if (infos !== '') { %>
                <div class="col-lg-8 mt-2 mt-lg-0">
                  <% infos.forEach((item) => { %>
                  <div class="alert alert-success"><%- item%></div>
                  <% }); %>
                </div>
                <% } %> <% if (errors !== '') { %>
                <div class="col-lg-8 mt-2 mt-lg-0">
                  <% errors.forEach((item) => { %>
                  <div class="alert alert-success"><%- item%></div>
                  <% }); %>
                </div>
                <% } %>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Liste des utilisateurs</h4>
                  <h6 class="card-subtitle">
                    Liste des Utilisateurs qui pourront se connecter a ce
                    backoffice
                  </h6>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Type</th>
                          <th class="text-nowrap">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (users != '') { %> <% for( let i = 0; i <
                        users.length; i++ ) { %>
                        <tr>
                          <td><%-users[i].email;%></td>

                          <td><%- users[i].role;%></td>
                          <td class="text-nowrap">
                            <a
                              data-toggle="tooltip"
                              data-original-title="Modifier"
                            >
                              <i class="fa fa-pencil text-inverse m-r-10"></i>
                            </a>
                            <a
                              href="/admin/users/delete/<%-users[i].id%>"
                              data-toggle="tooltip"
                              data-original-title="Supprimer"
                            >
                              <i class="fa fa-close text-danger"></i>
                            </a>
                          </td>
                        </tr>
                        <% } %> <% } else { %>
                        <td colspan="4">Aucun Utilisateur enregistré</td>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- column -->
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->

      <%- include('../partials/_footer'); %>
    </div>
  </body>
</html>
